target/
.idea/
*.iml
.DS_Store
.vscode/
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
